.acf_messenger_inbox, .acf_messenger_inbox ul, .acf_messenger_inbox .message {
  width: 100%; }
.acf_messenger_inbox .message > span {
  display: inline-block;
  width: 20%; }
.acf_messenger_inbox .message .status {
  width: 8%; }
.acf_messenger_inbox .message .new-indicator {
  background: green;
  border-radius: 3px;
  color: #fff;
  padding-left: 3px;
  padding-right: 3px; }
.acf_messenger_inbox .message .date {
  width: 40%; }
.acf_messenger_inbox .message .classification {
  text-align: center; }
.acf_messenger_inbox .message .read-message {
  display: block;
  float: right;
  text-align: right; }
.acf_messenger_inbox .unread {
  font-weight: bold; }
  .acf_messenger_inbox .unread .read-message {
    font-weight: bold; }
