.acf_messenger_inbox {
	&, ul, .message {
		width: 100%;
	}
	.message {
		& > span {
			display: inline-block;
			width: 20%;
		}
		.status {
			width: 8%;
		}
		.new-indicator {
			background: green;
			border-radius: 3px;
			color: #fff;
			padding-left: 3px;
			padding-right: 3px;
		}
		.date {
			width: 40%;
		}
		.from {
			
		}
		.classification {
			text-align: center;
		}
		.read-message {
			display: block;
			float: right;
			text-align: right;
		}
	}
	.unread {
		font-weight: bold;
		.read-message {
			font-weight: bold;
		}
	}
}